<%= form_for(@aeronafe) do |f| %>
  <% if @aeronafe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@aeronafe.errors.count, "error") %> prohibited this aeronafe from being saved:</h2>

      <ul>
      <% @aeronafe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Nome %><br>
    <%= f.text_field :Nome %>
  </div>
  <div class="field">
    <%= f.label :NumeroTripulantes %><br>
    <%= f.text_field :NumeroTripulantes %>
  </div>
  <div class="field">
    <%= f.label :Tamanho %><br>
    <%= f.text_field :Tamanho %>
  </div>
  <div class="field">
    <%= f.label :Numero %><br>
    <%= f.text_field :Numero %>
  </div>
  <div class="field">
    <%= f.label :Chassi %><br>
    <%= f.text_field :Chassi %>
  </div>
  <div class="field">
    <%= f.label :QuantidadeHorasVoo %><br>
    <%= f.text_field :QuantidadeHorasVoo %>
  </div>
  <div class="field">
    <%= f.label :QuantidadeMotor %><br>
    <%= f.text_field :QuantidadeMotor %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
