<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @aeronafe.Nome %>
</p>

<p>
  <strong>Numerotripulantes:</strong>
  <%= @aeronafe.NumeroTripulantes %>
</p>

<p>
  <strong>Tamanho:</strong>
  <%= @aeronafe.Tamanho %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @aeronafe.Numero %>
</p>

<p>
  <strong>Chassi:</strong>
  <%= @aeronafe.Chassi %>
</p>

<p>
  <strong>Quantidadehorasvoo:</strong>
  <%= @aeronafe.QuantidadeHorasVoo %>
</p>

<p>
  <strong>Quantidademotor:</strong>
  <%= @aeronafe.QuantidadeMotor %>
</p>

<%= link_to 'Edit', edit_aeronafe_path(@aeronafe) %> |
<%= link_to 'Back', aeronaves_path %>
